header {
  display: flex;
  justify-content: center;
  gap: 50px;

  nav button {
    font-size: 2rem;
  }
}

div.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

h1.home {
  font-size: 3rem;
}